input,
input::-webkit-input-placeholder {
  font-size: 2rem;
  line-height: 3;
}

form {
  display: flex;
  flex-direction: column;
}

#submitButton {
  align-self: center;
}

#buttonContainer {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.add-img {
  visibility: hidden;
}

.error-message {
  color: red;
  text-align: center;
}
